name: flutter_ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  flutter_ci_checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Flutter pub get
        run: flutter pub get

      - name: Flutter analyze
        run: flutter analyze --no-fatal-infos --no-fatal-warnings

      - name: Flutter test
        run: flutter test

      - name: Build debug APK
        run: flutter build apk --debug